-#チェックボックス
.form-group.m-l-0
  .col-xs-12
    .icon-checkbox
      .icon-checkbox-left
        %label
          = check_box_tag "form[#{ item.id }]", 'true', item.checked?
          %span
      .icon-checkbox-body
        = item.label
