-#チェックボックス
.form-group.m-l-0
  .col-xs-12
    .icon-checkbox
      .icon-checkbox-left
        %label
          %input{ type: 'checkbox' }
          %span
      .icon-checkbox-body
        = form_item.label
