-#チェックボックス
.form-group.m-l-0
  .col-xs-12
    .icon-checkbox
      .icon-checkbox-left
        %label
          = check_box_tag "form[#{ form_item.id }]", 'true', form_item.checked?
          %span
      .icon-checkbox-body
        = form_item.label
