.row
  .col-xs-12
    %ol.breadcrumb
      %li= link_to t('activerecord.models.template'), templates_path
      %li= link_to '詳細', @template
      %li.active #{ @form_item.type_name }の編集
%br

= render partial: 'form', locals: { template: nil, form_item: @form_item }
