.row
  .col-xs-12
    %ol.breadcrumb
      %li= link_to t('activerecord.models.template'), templates_path
      %li= link_to '詳細', @template
      %li.active 項目の追加
%br

= render partial: 'form', locals: { template: @template, form_item: @form_item }
