// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap-customized-variables";
@import "bootstrap";
@import "bootstrap-customized-classes";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "sticky-footer";

// Customize Tag
hr {
  margin: 10px auto;
}
th {
  white-space: nowrap;
}

// Customize simple_form_bootstrap
.form-actions {
  @extend .col-sm-offset-3;
  @extend .col-sm-7;
  margin-top: 10px;
}
.has-error {
  margin-bottom: 5px;
}

// Define my style
#logo {
  letter-spacing: -1px;
}
.status {
  color: $assort-color;
}
.separator {
  border-width: medium;
  margin: 15px auto;
}
.radio-inline-label {
  margin-bottom: -10px;
}
.form-group-template {
  @extend .form-group;
  margin: 0 !important;
}
.form-group-label {
  @extend .form-group;
  margin-top:    10px !important;
  margin-bottom: 10px !important;
}
.form-group-input {
  @extend .form-group-label;
  margin-left: 0 !important;
}
.required-text {
  margin-left: 5px;
}
.radio-form {
  margin-left: -30px;
  padding-left: 10px;
}
.delete-action {
  @extend .text-danger;
  padding-left: 5px;
}
.checklist-form-btn {
  @extend .btn;
  @extend .btn-default;
  margin-top: 15px;
}
.heading {
  @extend .page-header;
  margin-bottom: 0;
  h4 {
    margin-bottom: 5px;
  }
}
.help-text > p {
  margin-bottom: 0;
}
.double-indent {
  margin-left: 38px;
}
.sorted-item {
  margin-top: 0 !important;
  padding: 10px 0;
}
.item-sortable > .sorted-item {
  border-bottom: 2px solid $hr-border;
  cursor: move;
}
.sortable-placeholder {
  height: 2.5em;
  border: dotted 2px $accent-color;
}
// Define custom checkbox style
.icon-checkbox {
  margin-top: 0 !important;
  margin-left: -5px;
  .checkbox {
    padding-top: 0;
    input[type='checkbox'] {
      opacity: 0;
      cursor: pointer;
    }
    span {
      margin-left: -.5em;
      @extend .fa;
      @extend .fa-2x;
      @extend .fa-circle-o;
      color: lighten($gray-base, 77.0%);
      &:hover, &:active {
        color: $link-color;
      }
    }
    input[type='checkbox']:checked ~ span {
      @extend .fa-check-circle;
      color: $link-color;
    }
  }
  .media-body > p {
    margin-bottom: 0;
  }
}
