// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap-customized-variables";
@import "bootstrap";
@import "bootstrap-customized-classes";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "sticky-footer";

// Customize Tag
hr {
  margin: 10px auto;
}
th {
  white-space: nowrap;
}

// Customize simple_form_bootstrap
.form-actions {
  @extend .col-sm-offset-3;
  @extend .col-sm-7;
  margin-top: 10px;
}
.has-error {
  margin-bottom: 5px;
}

// Define my style
#logo {
  letter-spacing: -1px;
}
.status {
  color: $assort-color;
}
.separator {
  border-width: medium;
  margin: 15px auto;
}
.radio-inline-label {
  margin-bottom: -10px;
}
.form-group-template {
  @extend .form-group;
  margin: 0 0 5px 0 !important;
}

// Define custom checkbox style
.icon-checkbox {
  @extend .media;
  margin: -5px 0 -5px -5px;
  .icon-checkbox-body {
    padding-top: 5px;
  }
}
.icon-checkbox-left {
  @extend .media-left;
  @extend .media-middle;
  @extend .checkbox;
  & input[type='checkbox'] {
    opacity:  0;
    cursor:pointer;
  }
  & span {
    margin-left: -.5em;
    @extend .fa;
    @extend .fa-2x;
    @extend .fa-circle-o;
    color: lighten($gray-base, 77.0%);
    &:hover, &:active {
      color: $link-color;
    }
  }
  & input[type='checkbox']:checked ~ span {
    @extend .fa-check-circle;
    color: $link-color;
  }
}
.icon-checkbox-body {
  @extend .media-body;
  @extend .media-middle;
}
