%footer.footer
  .container
    %ul.list-inline.text-center
      %li= link_to '利用規約',     '#'
      %li= link_to 'お問い合わせ', '#'
      %li= link_to 'ご意見',       '#'
      %li= link_to '運営会社',     '#'
    %p.text-center © 2016 Test Inc.
